<!DOCTYPE html>
<html>
  <head>
    <title>Botriot &middot; <%= title %></title>
    <meta name="google-site-verification" content="15y2i79NiC7z62uQAgY2z29yqrxt2MOLLz1CiusTODY" />
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel="shortcut icon" type="image/x-icon" href="/favicon.ico">
  </head>
  <body>
    <header>
      <div class="wrapper dashheader">
        <%- partial('partials/smallnav') %>
        <h1 class="logo">
          <a href="/">botriot</a>
        </h1>
      </div>
      <nav>
        <div class="wrapper">
          <ul>
            <%
              var dashboardclass = dashboardclass || '';
              var commandsclass = commandsclass || '';
              var servicesclass = servicesclass || '';
              var settingsclass = settingsclass || '';
            %>
            <li id='status' class="<%= dashboardclass %>"><div class="linkwrap"><a href="/dashboard/">Dashboard</a></div><span class="border"></span><span></span></li>
            <li id='commands' class="<%= commandsclass %>"><div class="linkwrap"><a href="/commands/">Commands</a></div><span class="border"></span><span></span></li>
            <li id='rooms' class="<%= servicesclass %>"><div class="linkwrap"><a href="/services/">Services</a></div><span class="border"></span><span></span></li>
            <li id='settings' class="<%= settingsclass %>"><div class="linkwrap"><a href="/settings/">Settings</a></div><span class="border"></span><span></span></li>
          </ul>
        </div>
      </nav>
    </header>
    <script src="/javascript/jquery-1.6.2.min.js"></script>
    <script src="/socket.io/socket.io.js"></script>
    <script src="/socket.io/socket.io-sessions.js"></script>
    <script src="/javascript/ejs_production.js" type="text/javascript"></script>
    <script>
      var socketReady = false
      var socket = io.connectWithSession()
      socket.on('connect-session', function() {
        socketReady = true
      })
      socket.waitEmit = function() {
        var args = arguments
        if (!socketReady) {
          socket.on('connect-session', function() {
            socket.emit.apply(socket, args)
          })
        } else {
          socket.emit.apply(socket, args)
        }
      }
    </script>
    <div class="wrapper">
      <div id="content">
        <%- body %>
      </div>
    </div>
    <%- partial('footer') %>
    <script src="/javascript/ejs_production.js" type="text/javascript"></script>
    <script src="/javascript/browser_chat.js" ></script>
    <%- partial('chat_modal') %>
    <%- partial('partials/analytics') %>
  </body>
</html>
